<banner src="assets/images/synedad.jpg" title="Biography"></banner>

<div class="uk-section uk-section-large uk-background-muted">
  <div class="uk-container uk-container-small">
    <p class="uk-dropcap">
        SYNEDAD also known as Yassin Hedad Abdella is a rapper, singer, and songwriter from the island of Haïti. Synedad was born in New York during the 1990’s to a Haitian mother and an Eritrean father. After his birth, his family went back to Haïti where he grew up and lived for the majority of his life...
      <!-- Issu d'une mère Haïtienne et d'un père Érythréen, je vis le jour à New York dans les années 90, peu de
      temps après ma naissance je partit vivre en Haïti, mon pays d'origine, où je vécu la grande majorité de ma vie.
      En grandissant je n'ai pas connu mon père, ma mère nous éleva seule, mes deux soeurs, mon frère et moi-même. Ma
      mère est mon pilier, ma raison de vivre, je lui doit tout. Elle a su s'adonner à son rôle de maman tout en
      remplissant la place de mon père absent. Elle m'insuffla la culture Haïtienne, mes valeurs, mes connaissances et
      mon savoir faire... -->
    </p>
    <a href="#modal-full" class="btn-more" uk-toggle>
      <i class="fas fa-ellipsis-h"></i>
    </a>
  </div>
</div>

<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <div class="full-bio">
      <div class="uk-grid-collapse uk-child-width-1-1@s uk-child-width-1-2@l uk-flex-middle" uk-grid>
        <div class="uk-background-cover" style="background-image: url('assets/images/cover.jpg');" uk-height-viewport></div>
        <div class="uk-padding">
          <logo></logo>
          <p>
            Synedad also known as Yassin Hedad Abdella is a rapper, singer, and songwriter from the island of Haïti. Synedad was born in New York during the 1990’s to a Haitian mother and an Eritrean father. After his birth, his family went back to Haïti where he grew up and lived for the majority of his life. At a young age, Synedad discovered his passion for music and started recording himself making rap songs. 
          </p>
          <p>
            
            Years later, after one Studio Album “Avec Le Temps”, two EP’s “Pou Lokal Yo” and “Pou Lokal Yo Vol.2”, the young Haitian keeps surprising his audience with a growing catalog of various genres such as Rap, Reggea, Kompa, R&B and many more. The rapper always says “I can’t limit myself to a single genre or musical style, art has no boundaries and I’m taking full advantage of that. Always surprising my audience with new melodies accompanied by different languages and sounds. I guess it really is about the vibe, the vibe is simply the source of my music”.
          </p>

          <!-- <p>
            Issu d'une mère Haïtienne et d'un père Érythréen, je vis le jour à New York dans les années 90, peu de
            temps après ma naissance je partit vivre en Haïti, mon pays d'origine, où je vécu la grande majorité de ma
            vie. En grandissant je n'ai pas connu mon père, ma mère nous éleva seule, mes deux soeurs, mon frère et
            moi-même. Ma mère est mon pilier, ma raison de vivre, je lui doit tout. Elle a su s'adonner à son rôle de
            maman tout en remplissant la place de mon père absent. Elle m'insuffla la culture Haïtienne, mes valeurs,
            mes connaissances et mon savoir faire. Elle influença tout aussi bien l'amour que j'ai pour mon pays. Cet
            amour pour mon pays est une flemme qui ne s'éteindra jamais, cette flemme je la sens dans mon coeur, mon
            âme et même mon sang. Je retranscrit cette passion flamboyante à travers ma musique. La musique pour moi
            est plus qu'une façon de m'exprimer.
          </p>
          <p>
            Quand je chante je ne chante pas que pour moi, mais aussi pour tous ceux qui m'écoutent et pour tous ceux
            qui ne m'écoutent pas. Varier et diversifier sont deux mots clefs pour moi dans le domaine musical, j'aime
            essayer différents styles, écouter des chansons de différentes époques et m'aventurer vers des chemins
            artistiques qui me sont inconnus. Offrir à mon publique quelque chose de nouveau ou d'inédit. Je me base
            sur mon environnement, l'atmosphère dans laquelle je me trouve ou un simple sentiment pour produire de la
            musique. J'essaie d'évoquer une réalité similaire à celle des autres dans mes chansons, de cette façon je
            comprend mieux mon publique et il me comprend à son tour.
          </p>
          <p>
            Au cours des années j'accomplis plusieurs projets dont mon album "Avec Le Temps" et mon dernier E-P "Pou
            Lokal Yo". Tout accomplissements qui n'auraient jamais vu le jour sans l'aide et la contribution de Cedric
            Day mieux connu sous le nom de Cedbeats, un ami de longue date, un ami pour la vie et qui je tiens à
            remercier grandement. En 2008 je composai ma première chanson et huit ans plus tard me voici à l'aube de ma
            carrière professionnelle. L'exemple qui démontre qu'avec du travail acharné, de la patience et un peu de
            foi, rien est impossible. Mon nom est Synedad et je vous invite à me suivre dans mon aventure musicale.
          </p> -->
        </div>
      </div>
    </div>
  </div>
</div> 