@import 'bootstrap';

a{
    
    font-family: "Archivo Black", sans-serif !important;
    text-transform: uppercase;
    color: #fff;
    border: 5px solid #fff;
    padding: 5px;
    @include font-size(42px);
}