<div class="uk-offcanvas-content">

    <!-- <navbar></navbar> -->

    <bio-section id="bio"></bio-section>

    <!-- <banner src="assets/images/synedad.jpg" title="pictures"></banner>

    <div class="uk-section" style="background-color:#000;">
        <div class="uk-container uk-container-medium">
            <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-small" uk-grid="masonry: true">
                <div>
                    <div class="card">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-media-top">
                                <img src="assets/images/1.JPG" alt="single.title">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-media-top">
                                <img src="assets/images/2.jpg" alt="single.title">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-media-top">
                                <img src="assets/images/img.jpg" alt="single.title">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-media-top">
                                <img src="assets/images/synedad.jpg" alt="single.title">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-media-top">
                                <img src="assets/images/3.jpg" alt="single.title">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-media-top">
                                <img src="assets/images/4.jpg" alt="single.title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->


    <contact-section id="contact"></contact-section>

    <!-- #TODO DYNAMIC COMPONENT  -->
    <div>
        <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-fixed uk-background-top-center uk-background-blend-screen uk-background-secondary uk-light uk-box-shadow-small"
            data-src="assets/images/cover.jpg" uk-img uk-height-viewport="offset-bottom:10">
            <div class="uk-container">
                <a href="#modal-media-youtube" uk-toggle>CHECKOUT MY LAST VIDEO</a>
                <div id="modal-media-youtube" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-width-large uk-margin-auto-vertical">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <iframe src="https://www.youtube-nocookie.com/embed/M2UWdgFRCSA" width="100%" height="420"
                            frameborder="0" uk-video></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer></footer>
</div>