<banner src="assets/images/synedad.jpg" title="contact-me"></banner>

<div class="uk-section uk-section-large uk-background-primary">
  <div class="uk-container">
    <h2>
      get in touch with me
    </h2>
    <div class="representation uk-margin-large">
      <div class="uk-grid-match uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-divider" uk-grid>
        <div class="infos" *ngFor="let contactGroup of contactInformation | keyvalue">
          <ul class="uk-list">
            <li class="uk-nav-header">{{ contactGroup.key }}</li>
            <li *ngFor="let contact of contactGroup.value | keyvalue">{{ contact.value }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h2>Follow Me</h2>
      <!-- #TODO: refactoring  -->
      <div class="uk-margin-medium uk-margin-remove-bottom">
        <a href="https://open.spotify.com/artist/5EmHvoPWZ3OX1O2a8kYym7" target="_blank">
          <img src="assets/images/icons/64x64/spotify.png" alt="" width="50">
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://itunes.apple.com/us/artist/synedad/944126821" target="_blank">
          <img src="assets/images/icons/64x64/apple2.png" alt="" width="50">
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://m.youtube.com/synedad?uid=NV1IiHa-1-_QxpoMQEyUyQ" target="_blank">
          <img src="assets/images/icons/64x64/youtube.png" alt="" width="50">
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://m.soundcloud.com/synedad" target="_blank">
          <img src="assets/images/icons/64x64/soundscloud.png" alt="" width="50">
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://m.facebook.com/Synedad/" target="_blank">
          <img src="assets/images/icons/64x64/fb.png" alt="" width="50">
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/synedad/" target="_blank">
          <img src="assets/images/icons/64x64/instagram.png" alt="" width="50">
        </a>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://mobile.twitter.com/synedad" target="_blank">
          <img src="assets/images/icons/64x64/twitter.png" alt="" width="50">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <banner src="assets/images/image8.jpg" title="Follow Me"></banner>

<div class="uk-text-center" style="background-color:#101010;">
  <div class="uk-section uk-section-medium">
    <div class="uk-container uk-container-xsmall">
       <div class="uk-margin-small">
      <img src="assets/images/icons/64x64/fb.png" alt="" width="60">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="assets/images/icons/64x64/instagram.png" alt="" width="60">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="assets/images/icons/64x64/twitter.png" alt="" width="60">
    </div> 
      <div class="uk-grid-collapse uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
        <div>
          <div class="uk-card  uk-card-body">
            <img src="assets/images/icons/128x128/spotifiy.png" alt="" width="75">
            <p class="uk-text-large">Spotify</p>
          </div>
        </div>
        <div>
          <div class="uk-card  uk-card-body">
            <img src="assets/images/icons/128x128/apple2.png" alt="" width="75">
            <p class="uk-text-large">Apple</p>
          </div>
        </div>
        <div>
          <div class="uk-card  uk-card-body">
            <img src="assets/images/icons/128x128/youtube.png" alt="" width="75">
            <p class="uk-text-large">Youtube</p>
          </div>
        </div>
        <div>
          <div class="uk-card  uk-card-body">
            <img src="assets/images/icons/128x128/soundscloud.png" alt="" width="75">
            <p class="uk-text-large">Soundcloud</p>
          </div>
        </div>
        <div>
          <div class="uk-card  uk-card-body">
            <img src="assets/images/icons/128x128/fb.png" alt="" width="75">
            <p class="uk-text-large">Facebook</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-body">
            <img src="assets/images/icons/128x128/instagram.png" alt="" width="75">
            <p class="uk-text-large">Instagram</p>
          </div>
        </div>
        <div>
          <div class="uk-card  uk-card-body">
            <img src="assets/images/icons/128x128/twitter.png" alt="" width="75">
            <p class="uk-text-large">Twitter</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div> -->